div
  title= title
  meta(name="description" content="A description")
  meta(name="keywords" content="some, keywords")
  meta(name="author" content="Some Author")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet" href="styles.css")
  script(src="script.js")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@site")
  meta(name="twitter:title" content="Title")
  meta(name="twitter:description" content="A description")
  meta(name="twitter:creator" content="@creator")
  meta(name="twitter:image" content="image.jpg")
  meta(content="Title")
  meta(content="website")
  script(src="https://cdn.jsdelivr.net/npm/axios-cache-interceptor@1/dev/index.bundle.js")
  script(src="https://cdn.jsdelivr.net/npm/axios-cache-interceptor@1/dist/index.bundle.js") 