main.main
  header.header
    h1.header-title Hello #{name}
    nav.header-nav
      ul.header-ul
        li.header-item
          a(href="/") Home
        li
          a(href="/about") About
  != children 