.page-content
  h2.title.mb-4.h2 Welcome to our store
  p.p.text.mb-0
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis magna
    | id dolor ultricies, eget pretium ligula sodales. Cras sit amet turpis nec
    | lacus blandit placerat. Sed vestibulum est sit amet enim ultrices rutrum.
    | Vivamus in nulla vel nunc interdum vehicula.
  p.p.text.mb-0
    | Pellentesque efficitur tellus id velit vehicula laoreet. Proin et neque ac
    | dolor hendrerit elementum. Fusce auctor metus non ligula tincidunt, id gravida
    | odio sollicitudin. 